body
{
	background: url(../img-noise-361x370.png);
}

.upper
{
	background-color: #152FAF;
	border-bottom: 2px ;
	display: inline-block;
	height: auto;
	margin-bottom: 10px;
	padding: 1em;
	position: fixed;
	width: 100%;
}
#title
{
	color: #fff;
	float: left;
	font-size: 2em;
	line-height: none;
	margin-left: 3em;
	padding: auto;
	position: relative;

	&:hover
	{
		color: #F7EC50;
	}
}

#car
{
	background: #D9CB45;
	border: #100F05 1px;
	border-radius: 3px;
	float: right;
	height: auto;
	margin-right: 4em;
	padding: .5em;
	position: relative;

	@mixin box-shadow($box)
	{
	  	-webkit-box-shadow: $box;
	       -moz-box-shadow: $box;
	        -ms-box-shadow: $box;
	            box-shadow: $box;
  	}

	@include box-shadow(0px 0px 5px 0px #fff);
}

.contenedor
{
	display: inline-block;
	margin: 3em;
	margin-bottom: -0.2em;
	clear: both;
	width: 90%;
	min-height: 500px;
}

aside
{
	background-color: #656774;
	border: 2px #54540F;
	color: #fff;
	float: left;
	padding: auto;
	padding-top: 2em;
	position: static;
	height: 1000px;
	text-align: center;
	vertical-align: top;
	width: 14%;
}

#catl
{
	font-size: 1.25em;
	font-weight: bold;
}

.cat
{

}

/* Lo principal */

.main
{
	display: inline-block;
	padding: 2em;
	float: right;
	width: 80%;
}

.products
{
	background: #E1EDD8;
	margin: 10px;
	display: inline-block;
	border: 1px #000;
	text-align: center;
	padding: 10px;
}

#product
{
	height: 250px;
	width: 250px;
}

#detalle
{
	display: inline-block;
	margin-left: 10px;

	p
	{
		float: left;
		text-align: center;
	}

}

#add
{
	background-color: #407B12;
	color: #fff;
	border: none;
	float: right;
	border-radius: 2px;
	padding: auto;
	margin-right: 15px;

	@mixin box-shadow($box)
	{
	  	-webkit-box-shadow: $box;
	       -moz-box-shadow: $box;
	        -ms-box-shadow: $box;
	            box-shadow: $box;
  	}

	@include box-shadow(0px 0px 5px 0px #000);
}



footer
{
	background-color: #152FAF;
	color: #fff;
	clear: both;
	padding: 1em;
	text-align: center;
}